body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button {
    margin: 0 10px;
    padding: 10px 20px;
}

.content {
    border: 1px solid #ccc;
    padding: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.enterName {
    text-align: center;
}

.footer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-right: 10px;
}

.nav-link.active {
    background-color: #ffff99;
}

.quiz-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.quiz-card {
    background-color: #3399ff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    color: #ffffff;
}

.quiz-card .quiz-title {
    background-color: #99cc99;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.quiz-card .btn {
    background-color: #ffff66;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-option input[type="radio"] {
    margin-right: 10px;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    font-weight: bold; /* Устанавливает жирный шрифт */
    font-size: 1.2em; /* Настройка размера текста */
}

.question-text {
    font-weight: bold;
    font-size: 1.2em; /* Настройка размера текста */
    margin-bottom: 20px; /* Добавляет отступ снизу */
}

.quiz-image {
    width: 20px; /* Ширина изображения */
    height: 15px; /* Высота изображения */
    object-fit: cover; /* Опционально: подгоняет изображение, чтобы оно заполнило весь контейнер */
    border-radius: 10px; /* Закругляет углы изображения, если нужно */
    margin-bottom: 10px; /* Отступ снизу для разделения с заголовком */
}

.quiz-card img {
    width: 20px;
    height: 15px;
}

